*__pycache__
*.DS_Store
*.venv
*.idea
*workspace
.idea/
.venv
.env
.venv/
.cache
/tests/output.json
/tests/outputs/
/src/Chemprot_SapBert/model/model.safetensors
/src/Biolink_SapBert/model/model.safetensors
/chemprot_data/all_chemprot_mapped_vectors1024.json
/biolink_data/all_biolink_mapped_vectors1024.json
/src/Preprocessing/confirms_descriptions.py
/src/Preprocessing/collect_short_decr.py


*.safetensors
*/model/old/
